nav {
   
    display: flex;
    justify-content: space-between; 
    padding: 12px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: lightblue;
}

.logo-Icon { 
   
    background-image: url(https://picsum.photos/200);
    height: 25px;
    width: 50px;
    background-size: cover;
    margin-left: 24px;
}

.nav-container{
    display :flex;
}

.nav-item{
   
    padding: 8px;
    }

.main-title {
     text-align: center;
    }

   

.main-content{
    display: flex;
}

.main-content-item{
   
    width: 100%;
    height: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-banner-container {
    height: 400px;
    width: 100%;
}

.main-content-banner {
   
    width: 100%;
    height: 150px;
}

.banner-1 {
    background-image: url(../assets/1.jpg);

}

.banner-2 {
    background-image: url(../assets/2.jpg);
}

.banner-3 {
    background-image: url(../assets/3.jpg);
}


.item-icon{
    height: 50px;
    width: 50px;
   
    background-image: url(https://picsum.photos/20);
    border-radius: 50%;
}
.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

}
.main-one{
    display: flex;
    align-items: center;
    justify-content: center;}


input{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
}
    

@media only screen and (max-width:480px) {
    .main-content{
        flex-direction: column;
    }
}